<%- include('partials/header') %>

    <main>

        <h1> <%= title %> </h1>

        <h2> <% organization.name %> </h2>

        <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">

        <p> Description: <%= organization.description %> </p>

        <h3> Service Projects</h3>

        <ul>

            <% projects.forEach(project=> { %>

                <li><a href="/project/<%= project.project_id %>"><%= project.title %></a></li>

                <% }); %>

        </ul>

        <p><a href="/edit-organization/<%= organization.organization_id %>">Edit Organization</a></p>

    </main>

<%- include('partials/footer') %>